google-api-python-client==2.136.0
pymongo==4.8.0
SQLAlchemy==2.0.31
pandas==2.2.2
streamlit==1.36.0
PyMySQL==1.1.1
requests==2.32.3
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
TIME-python==0.0.17
pillow==10.4.0
plotly==5.22.0
streamlit-dynamic-filters==0.1.6
numpy==2.0.0
regex==2024.5.15
pyodbc==5.1.0
urllib3==2.2.2
textblob==0.18.0.post0
DateTime==5.5
extra-streamlit-components==0.1.71

